.button-box {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(201, 200, 200);
    color: black;
    padding: 8px 18px;
    border-radius: 7px;
    font-size: 15px;
    width: 150px;
}

.button-box:hover {
    opacity: .8;
}

.btn-icon {
    display: flex;
    margin-right: 8px;
}