.user-info {
    margin-top: 8rem;
    display: flex;
    justify-content: center;
}

.user-info h1 {
    color: white;
}

.info-content {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    background-color: white;
    width: 350px;
    height: 520px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.info-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: rgb(187, 142, 28);
}

.info-body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    flex-direction: column;
}

.info-body ul {
    padding-left: 15px;
    margin: 10px 0;
}

.info-body li {
    margin: 8px 0;
}