.home {
    margin: 8rem 0;
    background-color: black;
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: auto;
    row-gap: 70px;
    column-gap: 5px;
    justify-content: center;
    justify-items: center;
}

.card-content {
    border-radius: 13px;
    overflow: hidden;
    position: relative;
    width: 250px;
    height: 430px;
    background-color: white;
}

.card-header {
    background-color: rgb(187, 142, 28);
    height: 20%;
}

.avatar {
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: rgb(201, 200, 200);
    left: 0;
    right: 0;
    margin: auto;
    top: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    border-bottom: lightblue;
    flex-direction: column;
    height: 60%;
    justify-content: space-between;
    text-align: center;
}

.name {
    position: relative;
    padding: 0 15px;
}

.name::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    right: 0;
    margin: auto;
    width: 80px;
    height: 1px;
    background: #000;
}
