.navbar {
    top: 0;
    left: 0;
    position: fixed;
    background-color: black;
    width: 100%;
    z-index: 999;
}

.navbar-content {
    width: 100%;
    padding: .5rem 2rem;
}

.logo {
    width: 120px;
    cursor: pointer;
}